<div>
  <h1 class="title">Draft Your Presidential Cabinet</h1>
  <div class="banner" >
    <div class="container-fluid">
      <img class="homepic" src="<%= asset_path( 'tumblr_milcogJdzu1s5vsgio2_250.gif') %>"   />
    </div>
  </div>

  <section id="home-details">
    <img class="flagpic" />
    <div>
      <%= form_for @draft, {action: "create"} do |f| %>
        <fieldset>
          <div class="form-field" style=" display: inline-block;">

            <label style="color: #001353;padding-right:10px;" for="num">Start A Draft</label>

            <%= render partial:"shared/errors", locals:{errors: @errors} %>

            <%= f.number_field :number_of_rounds, placeholder: "# of rounds", type: "text", class: "form-control, col-sm-4", id: "num" %>

            <%= f.submit "Create Draft", class: "btn btn-primary btn-sm", name: "commit", type: "submit" %>
          </div>

        </fieldset>
      <% end %>
    </div>
    <h2 style="color: red;">Political Parties</h2>
    <div>
      <% @teams.each do |team| %>
        <%= link_to "#{team.name}", team_path(team), class: "list-group-item" %>
      <% end %>
    </div>
  </section>
</div>
