<h1 style="padding:15px;">Sign In...</h1>




<div id="create-form">

  <%= form_tag(sessions_path, method: "post") do %>
    <fieldset>

      <%= label_tag(:account_name, "Account Name") %><br>
      <%= text_field_tag :account_name %><br><br>




      <%= label_tag :password, "Password" %><br>
      <%= password_field_tag :password %><br><br>


      <%= submit_tag("Submit") %>
    </fieldset>
  <% end %>
</div>