<h2>Draft</h2>

<ol>
  <% @shuffled_teams.each do |team| %>
  <li>
    <%= team["name"] %>
  </li>
  <% end %>
</ol>

<div id="team_rosters" style="float: right;">
  <h2>Team Rosters</h2>
  <ul>
    <% @teams_objects.each do |team| %>
    <li><%= team.name %></li>
      <% team.players.each do |player| %>
      <ul>
        <li><%= player.name %></li>
      </ul>
      <% end %>
    <% end %>
  </ul>
</div>


<%if @draft.open %>
<p>Drafting Team: <%= @drafting_team["name"] %></p>
  <ul>
    <% @free_agents.each do |free_agent| %>
    <li>
      <%= link_to "#{free_agent.name}", contracts_path(player_id: free_agent.id, team_id: @drafting_team["id"] , salary: 1000, draft_id: @draft.id), method: :post %>
    </li>
    <% end %>
  </ul>

<% else %>
  <h2>Draft is closed!</h2>
  <%= link_to "Go to Teams Page", teams_path %>
<% end %>


