<h2>Draft</h2>

<ol>
  <% @shuffled_teams.each do |team| %>
  <li>
    <%= team["name"] %>
  </li>
  <% end %>
</ol>

<div id="team_rosters" style="float: right;">
  <h2>Team Rosters</h2>
  <ul>
    <% @teams_objects.each do |team| %>
    <li><%= team.name %></li>
      <% team.players.each do |player| %>
      <ul>
        <li><%= player.name %></li>
      </ul>
      <% end %>
    <% end %>
  </ul>
</div>


<%if @draft.open %>
<p>Drafting Team: <%= @drafting_team["name"] %></p>
  <ol>
    <% @free_agents.each do |free_agent| %>
    <li>
        <%= form_for @contract, url: contracts_path(@contract), method: :post do |f| %>
            <%= f.hidden_field :team_id, :value => @drafting_team["id"] %>
            <%= f.hidden_field :salary, :value => 1000 %>
            <%= f.hidden_field :player_id, :value =>free_agent.id %>
            <%= f.hidden_field :active, :value => :true %>
            <div class="form-field">
              <%= f.submit "#{free_agent.name}", class: "btn btn-primary", name: "commit", type: "submit" %>
            </div>
        <% end %>
    </li>
    <% end %>
  </ol>

<% else %>
  <h2>Draft is closed!</h2>
  <%= link_to "Go to Teams Page", teams_path %>
<% end %>


