<!DOCTYPE html>
<html>
  <head>
    <title>FanSports</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">

      <% if logged_in? %>
        <div class="logged_in-links">
          <%= link_to "[Home]", teams_path %><br>
          <%= link_to "[Logout]", session_path(session[:account_id]), :method => :delete %>
        </div>

        <div class="admin-links">
          <%= link_to "[Create Party]", new_team_path, class: "admin-link" %>
          <%= link_to "[Create Candidate]", new_player_path, class: "admin-link" %>
          <%= link_to "[Sign Free Agent]", player_freeagents_path, class: "admin-link" %>
        </div>
      <% else %>
        <%= link_to "sign up", new_account_path, :method => :get %>
        <%= link_to "sign in", new_session_path, :method => :get %>
      <% end %>
    </nav>

    <%= yield %>
    <footer>
      <p>Thanks 'merica</p>
    </footer>
  </body>
</html>
