<h1>Sign Up</h1>

<%= form_for @account, {action: "create"} do |f| %>
<fieldset>
  <legend>Register</legend>
  <%= f.text_field :account_name, placeholder: "account name" %>
  <%= f.email_field :account_email, placeholder: "account email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "Create" %>
</fieldset>
<% end %>